NODE_ENV=development
APP_NAME=yrco

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=onboarding@resend.dev

LINKEDIN_CLIENT_ID=your_client_id
LINKEDIN_CLIENT_SECRET=your_client_secret
LINKEDIN_REDIRECT_URI=http://localhost:3000/auth/linkedin/callback

ALLOWED_CLIENT_ORIGINS=http://localhost:5173
PORT=3000
COOKIE_SECRET=your_cookie_secret
MONGO_URI=mongodb://localhost:27017/yrco
